obj
bin
packages
*.suo
*.user
/src/GrowingData.Mung/GrowingData.Mung.Server/data/**
/src/GrowingData.Mung/GrowingData.Mung.Server/App_Data/**
/src/GrowingData.Mung/GrowingData.Mung.Server/user/metric/**