
.view-inner {
	border-radius: 5px;
	border: solid 1px #aaa;
	padding: 4px;
	background: #fafafa;
	margin:10px;
}

	.view-inner .view-footer {
		background:#eee;
	}
	.view-inner .view-error {
		background:#d00;
		color:#eee;
	}


.view-inner h2{
	text-align:center;
	margin:0;
	padding:4px;

}