<!-- <Templates/ViewModal> -->
<div id="edit-graph" class="modal fade">
	<div class="modal-dialog modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">
					<span class="edit">Edit component</span>
					<span class="add">Add component</span>

				</h4>
			</div>
			<div class="modal-body">
				<input type="text" class="graph-title" placeholder="Enter a title for your graph" />

				<label>SQL</label>
				<div class="editor-sql">
					<textarea class="text-sql"></textarea>
				</div>

				<label>HTML</label>
				<div class="editor-html">
					<textarea class="component-html"></textarea>
				</div>

				<label>Javascript</label>
				<div class="editor-js">
					<textarea class="component-js"></textarea>
				</div>

				
				<div class="preview graph">


				</div>


			</div>
			<button type="button" class="btn btn-primary btn-preview blue-bg" style="margin:0 auto; display:block;">Preview</button>
			<div class="modal-footer">
				<button type="button" class="btn btn-default left btn-close">Close</button>
				<button type="button" class="btn btn-primary right btn-save green-bg">Save</button>
			</div>
		</div>

	</div>
</div>
<!-- </Templates/ViewModal> -->